<% include ../partials/header %>
<% if (currentUser.isAdmin){%>

<h1 class="center bottomGutter">Control panel for Southwest Missouri Reptiles</h1>

<div class="row container center bottomGutter">
    <div class="col-md-12 bottomGutter">
      <a class="btn btn-blk btn-success" href="/snake/admin/new"><div class="column">Add a Snake</div></a>
      <a class="btn btn-blk btn-success" href="/snake/admin/users"><div class="column">Change User Roles</div></a>
    </div>
</div>
<div class="row center text-light font1 container">
    <% snakes.forEach(function(snakes){ %>
      <div class="col-md-6 flex bottomGutter">
          <div class="card bg-dark" style="width: 100%; height: 100%;">
            <div class="card-body">
              <p><%=snakes.type%></p>
              <img class="card-img-top text-danger" src="<%=snakes.image%>">
              <p class="card-text "><%= snakes.discrip%></p>
              <p>Price: $<%=snakes.price%></p>
            </div>
            <a class="btn btn-lg btn-warning" href="/snake/<%=snakes._id%>/edit">Edit Snake</a>
          </div>
      </div>
      <% }); %>
  </div>
<% }else{ %>
    <h1 class="center">Hacker!!!</h1>
    <% }%>
<% include ../partials/footer %>