<% include ../partials/header%>
<div class="row">
<div class="header col-md-12">
  <h1>Don't Let these deals slither away!</h1>
    <sub>There is an automatic $25.00 shipping added to every order.</sub>
</div>

<div class="row">
    <% snakes.forEach(function(snakes){ %>
    <div class="col-md-4 col-sm-6 flex bottom10 white">
        <div class="col-md-6">
          <div class="card bg-dark" style="width: 100%; height: 100%;">
            <div class="card-body">
              <img class="card-img-top text-danger" src="<%=snakes.image%>">
              <p class="card-text text-light"><%= snake.discrip%></p>
              <p>Price: $<%=snakes.price%></p>
            </div>
          </div>
        </div>
      </div>
      Price: $<%=snakes.price%>
      <a class="ui button attached bottom black centered"href="/snake/<%=snakes._id%>">View Me</a>

    <% }); %>
</div>
<% include ../partials/footer%>